body {
    background-color: #D8D2C2;
}

header {
    margin: 15px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form {
    margin-top: 25px;
}

.preview img {
    width: 256px;
    height: 256px;
}